
/**
*Game CSS
**/



  body {
    background: white
  }

  .letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
    color: #333
  }

  
